.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
}

.sidebar .icon {
  width: 20px;
}

.sidebar .menuicon {
  display: block;
  margin-left: 10px;
  margin-top: 10px;;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.sidebar .newChat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #e6eaf1;
  border-radius: 50px;
  cursor: pointer;
  color: grey;
  font-size: 14px;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
  
}

.sidebar .recentTitle {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  
}

.sidebar .recentEntry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
  max-width: 200px;
  max-height: 30;
}

.sidebar .recentEntry:hover {
  background-color: #e2e6eb;
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar .bottomItem {
  padding-right: 10px;
  cursor: pointer;
}


/* TEMA */
.recentEntry.dark,
.bottonItem.dark {
  background-color: #4d4949ff;
  color: #ffffff;
  transition: all 0.3s ease;
}

.recentEntry.light,
.bottonItem.light {
  background-color: #f5f5f5;
  color: #000000;
  transition: all 0.3s ease;
}

.recentEntry.dark:hover,
.bottonItem.dark:hover {
  background-color: #363434ff;
}

.recentEntry.light:hover,
.bottonItem.light:hover {
  background-color: #e2e6eb;
}

.recentEntry.active.dark {
  background-color: #363434ff;
  color: #ffffff;
}

.recentEntry.active.light {
  background-color: #dcdcdc;
  color: #000000;
}

.sidebar.dark {
  background-color: #4d4949ff;
  color: #ffffff;
}

.sidebar.light {
  background-color: #f5f5f5;
  color: #000000;
}




.recentEntry.click{
  width: 70px; 
}
.recentEntry.click .icon{
  display: none;
  
}
.recentEntry.click p{
  white-space: nowrap;
  overflow: hidden;
  max-width: 75px; 
}

.bottonItem.click {
  width: 70px; 
}

.bottonItem.click p{
  display: none;
}
.newChat.click {
  width: 70px; 
}
.newChat.click p{
  display: none;
}
.sidebar.click{
  width: 80px;
  
}